.from__field::placeholder {
  color: #ecebeb;
}

.button_container {
  text-align: right;
}

.form_person__title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
}

.form_person__info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.title_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 18%;
}

.title_list__item {
  width: 100%;
  color: #95a5b8;
}

.desc_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 60%;
}

.desc_list__field {
  display: inline-block;
  width: 100%;
  padding: 3px;
}

.desc_list div {
  background-color: red;
}
