.from__item {
    display: flex;
    align-items: center;
    width: 100%;
}

.from__item:not(:last-child) {
    margin-bottom: 10px;
}

.from__title {
    margin-right: 10px;
    display: inline-block;
    text-transform: lowercase;
}



.from__field {
    padding-left: 5px;
    border: 1px solid #ecebeb;
    border-radius:4px;
    outline: none;
}

.field_input { 
    width: 400px;
}

.field_textarea { 
    width: 500px;
    resize: vertical;
}

.from__field::placeholder {
    color: #ecebeb;
}

.button_container {
    text-align: right;
}